@import "./utilities/variables";
@import "./utilities/mapas";
@import "./utilities/mixins";
@import "./utilities/media-queries";
@import "./base/typography";
@import "./layout/body-horizontal";
@import "./layout/header";
@import "./components/buttons";
@import "./components/contenido";
@import "./components/imagenes-relacionadas";
@import "./components/imagenes";

/*Se ha aplicado Responsive total a index.html, CivilizaciónTipo2.html, CivilizaciónTipo3.html, CivilizaciónTipo1.html y Otras.html.*/
