$colors: (
  primary-bg: #0e0d13,
  secondary-bg: #202020,
  hover-bg: #0056b3,
  text-color: white,
  border-color: #ffffff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
