.contenido {
    margin: 20px 0 0 20px;
    padding-top: 20px;
}
.textoKardashev {
    color: color(text-color);
    font-size: 22px;
    line-height: 1.5;
    width: 80%;
    box-sizing: border-box;
}
